html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.container {
    flex: 1 0 auto;
    padding-bottom: 20px;
}

.footer {
    flex-shrink: 0;
    background-color: black !important;
    width: 100%;
    border-top: 1px solid #333;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: auto;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.text-center,
.card,
.modal-content,
.table {
    color: white;
}

.modal-content {
    background-color: #222;
}

.card {
    background-color: black;
    border: 1px solid #444;
}

.table {
    background-color: #222;
}
